//Start top
.top{
	background-image: url(../img/top_bg-mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	padding-bottom: 25px;
	@media (min-width: $md3 + px){
		background-image: url(../img/top_bg.png);
		padding-bottom: 300px;
		margin-bottom: -90px;
	}
	&__body{
		@include adaptive(padding-top, 200, 30, 3);
		position: relative;
		&::before{
			content:'E';
			text-transform: uppercase;
			font-size: 545px;
			line-height: 375px;
			font-weight: 700;
			opacity: .015;
			position: absolute;
			top: 122px;
			left: 100px;
			width: 300px;
			height: 385px;
			z-index: 2;
			@media (min-width: $md4 + px){
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			@media (min-width: $md3 + px){
				left: auto;
				right: 0;
				opacity: .03;
				@include adaptive(font-size, 1090, 545, 3);
				@include adaptive(line-height, 750, 375, 3);
			}
			@media (min-width: $md1 + px){
				top: 80px;
				right: 320px;
			}
		}
		&::after{
			content:'';
			position: absolute;
			top: 173px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background: linear-gradient(180deg, rgba(167, 47, 114, 0.7) 0%, rgba(255, 106, 106, 0) 100%);
			filter: drop-shadow(0px -4.60728px 9.21456px rgba(0, 0, 0, 0.1));
			z-index: 1;
			@media (min-width: $md4 + px){
				top: 205px;
			}
			@media (min-width: $md3 + px){
				display: none;
			}
		}
	}
	&__info{
		*:last-child{
			margin-bottom: 0;
		}
		margin-bottom: 280px;
	}
	&__icon{
		@include adaptive(margin-bottom, 20, 10, 3);
		@include adaptive(font-size, 23, 12, 3);
		@include adaptive(line-height, 28, 15, 3);
		font-weight: 700;
		color: $el;
		@include adaptive(padding-left, 31, 17, 3);
		position: relative;
		&::before{
			content:'';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			@include adaptive(width, 19, 10, 3);
			@include adaptive(height, 19, 10, 3);
			background-image: url(../img/cart.svg);
		}
	}
	&__title{
		margin-bottom: 30px;
		@include adaptive(font-size, 52, 21, 3);
		@include adaptive(line-height, 70, 28, 3);
		font-weight: 700;
		max-width: 824px;
	}
	&__descr{
		display: none;
		@media (min-width: $md2 + px){
			display: block;
			margin-bottom: 30px;
			font-size: 20px;
			line-height: 27px;
		}
	}
	&__img{
		position: absolute;
		top: 168px;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 252px;
		z-index: 3;
		@media (min-width: $md4 + px){
			top: 200px;
		}
		@media (min-width: $md3 + px){
			@include adaptive(height, 842, 252, 3);
			left: auto;
		}
		@media (min-width: $md1 + px){
			top: 100px;
		}
	}
}
.form-top{
	display: flex;
	flex-direction: column;
	max-width: 330px;
	&__label{
		display: block;
		margin-bottom: 15px;
		font-weight: 300;
		@include adaptive(font-size, 14, 12, 3);
		@include adaptive(line-height, 17, 15, 3);
		opacity: .5;
		text-align: center;
		@media (min-width: $md4 + px){
			text-align-last: left;
			order: -1;
			opacity: 1;
		}
	}
	&__item{
		position: relative;
		margin-bottom: 11px;
	}
	&__input{
		width: 100%;
		@include adaptive(height, 65, 50, 3);
		background-color: $el;
		color: #fff;
		font-weight: 400;
		@include adaptive(padding, 20, 15, 3);
		@include adaptive(padding-right, 85, 65, 3);
		transition: background-color .3s;
		&::placeholder{
			color: #fff;
			@include adaptive(font-size, 18, 16, 3);
			@include adaptive(line-height, 22, 20, 3);
			font-weight: 400;
		}
		@media (min-width: $md2 + px){
			&:hover{
				background-color: #DE774B;
			}
			&:focus{
				background-color: #DE774B;
			}
		}
	}
	&__button{
		@include adaptive(height, 65, 50, 3);
		@include adaptive(width, 65, 50, 3);
		position: absolute;
		right: 0;
		top: 0;
		background-color: #DE774B;
		path{
			transition: all .3s;
		}
		@media (min-width: $md2 + px){
			&:hover{
				path{
					fill: #000;
				}
			}
			&:focus{
				path{
					fill: #000;
				}
			}
		}
	}
}
.input--mobile{
	@media (min-width: $md3 + px){
		display: none;
	}
}
.input--desctop{
	display: none;
	@media (min-width: $md3 + px){
		display: block;
	}
}
//End top

//////////////////////////////////////////////////////////////////////////////

//Start work
.work{
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-right: -20px;
	margin-left: -5px;
	@media (min-width: $md2 + px){
		background-color: transparent;
		background-image: url(../img/work_bg.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
	&__title{
		@include adaptive(font-size, 26, 14, 3);
		@include adaptive(line-height, 32, 17, 3);
		font-weight: 400;
		text-transform: uppercase;
		color: #393939;
		max-width: 240px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
		@media (min-width: $md2 + px){
			color: $text;
			max-width: 100%;
			margin-bottom: 250px;
		}
	}
	&__list{
		border-left: 5px dashed #929292;
		counter-reset: counter;
		@media (min-width: $md2 + px){
			border: 11px dashed #FFFFFF;
			border-left: none;
			border-radius: 20px;
			max-width: 1200px;
			height: 354px;
			margin: 0 auto;
			position: relative;
			margin-bottom: 327px;
		}
	}
	&__row{
		margin-left: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		counter-increment: counter;
		position: relative;
		&::before{
			content:'0' counter(counter);
			position: absolute;
			color: #393939;
			top: 20px;
			left: 0;
			width: 43px;
			height: 32px;
			font-size: 32px;
			line-height: 32px;
			font-weight: 700;
			transition: all .3s;
			@media (min-width: $md2 + px){
				width: 150px;
				height: 140px;
				font-size: 118px;
				line-height: 140px;
				color: $text;
				opacity: .1;
				z-index: -1;
				top: -74px !important;
				left: auto;
				right: 0;
			}
		}
		&:last-child{
			padding-bottom: 0;
		}
		&:first-child{
			padding-top: 0;
			&::before{
				top: 0;
			}
		}
		& + &{
			border-top: 1px solid rgba(#000, .1);
		}
		&.open{
			&::before{
				color: $el;
				opacity: 1;
			}
		}
		@media (min-width: $md2 + px){
			padding: 0;
			margin: 0;
			position: absolute;
			top: -90px;
			left: 94px;
			@include adaptive(max-width, 290, 200, 3);
			width: 100%;
			cursor: pointer;
			&:nth-child(2){
				right: 0;
				left: 0;
				margin: 0 auto;
			}
			&:nth-child(3){
				left: auto;
				right: 94px;
			}
			&:nth-child(4){
				top: 242px;
				left: auto;
				right: 94px;
			}
			&:nth-child(5){
				top: 242px;
				right: 0;
				left: 0;
				margin: 0 auto;
			}
			&:nth-child(6){
				top: 242px;
			}
			&.hover{
				&::before{
					color: $el;
					opacity: 1;
				}
			}
		}
	}
	&__img{
		display: none;
		transition: background-color .3s;
		@media (min-width: $md2 + px){
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background-color: #1D1D1D;
			height: 180px;
			width: 180px;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	&__link{
		color: #393939;
		@include adaptive(font-size, 18, 12, 3);
		@include adaptive(line-height, 22, 15, 3);
		font-weight: 700;
		text-transform: uppercase;
		padding-right: 40px;
		position: relative;
		min-height: 32px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		transition: color .3s;
		.work__name{
			width: 100%;
			min-height: 32px;
			display: flex;
			align-items: center;
		}
		&::before{
			content:'';
			position: absolute;
			top: 50%;
			right: 15px;
			width: 15px;
			height: 15px;
			transform: translate(0, -50%);
			border-radius: 50%;
			border: 1px solid #393939;
			background-image: url(../img/arrow_down.svg);
			background-repeat: no-repeat;
			background-size: 80%;
			background-position: center center;
			transition: transform .3s;
			@media (min-width: $md2 + px){
				display: none;
			}
		}
		&.open{
			&::before{
				transform: rotate(180deg);
			}
		}
		@media (min-width: $md2 + px){
			color: $text;
			font-weight: 400;
			text-align: center;
			padding-right: 0;
			display: block;
		}
		@media (min-width: $md2 + px){
			&:hover{
				.work__name{
					display: none;
				}
				.work__btn{
					display: block;
				}
				&::before{
					color: $el;
					opacity: 1;
				}
				.work__img{
					background-color: #fff;
				}
				path{
					fill: #1d1d1d;
				}
			}
			&:focus{
				&::before{
					color: $el;
					opacity: 1;
				}
				.work__img{
					background-color: #fff;
				}
				path{
					fill: #1d1d1d;
				}
			}
		}
	}
	&__btn{
		display: none;
		text-align: center;
		min-height: 50px;
		font-size: 18px;
		line-height: 22px;
		font-weight: 400;
		text-decoration: underline;
		padding-right: 25px;
		position: relative;
		text-transform: none;
		&::before{
			content:'+';
			position: absolute;
			top: 0;
			right: 90px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid #fff;
			background-color: $el;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__popup{
		color: #393939;
		display: none;
		margin-top: 10px;
		margin-right: 26px;
		margin-left: -50px;
		font-size: 11px;
		line-height: 17px;
		font-weight: 400;
		@media (min-width: $md2 + px){
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.2);
			backdrop-filter: blur(15px);
			z-index: 100;
		}
	}
}
.popup{
	cursor: auto;
	&__inner{
		@media (min-width: $md2 + px){
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 0;
			right: 0;
			margin: 0 auto;
			max-width: 700px;
			width: 100%;
		}
	}
	&__body{
		@media (min-width: $md2 + px){
			height: 408px;
			padding: 62px 53px;
			background-color: #262626;
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
			border-radius: 3px;
			color: $text;
			overflow: auto;
		}
	}
	&__title{
		display: none;
		@media (min-width: $md2 + px){
			display: block;
			margin-bottom: 30px;
			font-size: 26px;
			line-height: 41px;
			font-weight: 600;
		}
	}
	&__descr{
		@media (min-width: $md2 + px){
			font-size: 18px;
			line-height: 29px;
			padding-right: 18px;
		}
	}
	&__btn{
		display: none;
		@media (min-width: $md2 + px){
			display: block;
			position: absolute;
			top: -60px;
			right: -60px;
		}
	}
}
//End work

//////////////////////////////////////////////////////////////////////////////

//Start advantages
.advantages{
		background-image: url(../img/advantages_bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding-top: 89px;
		padding-bottom: 100px;
}
.tab{
	@media (min-width: $md2 + px){
		color: rgba($text, .4);
		text-decoration: underline;
		& + &{
			margin-left: 100px;
		}
	}
	&.active{
		@media (min-width: $md2 + px){
			color: $el;
		}
	}
	&__item{
		@media (max-width: $md2 + px){
			display: block !important;
		}
		@media (min-width: $md3 + px){
			margin-bottom: 20px;
		}
		@media (min-width: $md2 + px){
			display: none;
			margin-bottom: 0;
		}
		&.active-tab{
			@media (min-width: $md2 + px){
				display: block;
			}
		}
	}
	&__body{
		@media (min-width: $md3 + px){
			display: flex;
			align-items: center;
		}
		@media (min-width: $md2 + px){
			align-items: start;
		}
	}
	&__img{
		text-align: center;
		height: 200px;
		margin-bottom: 30px;
		@media (min-width: $md3 + px){
			min-width: 300px;
			margin-bottom: 0;
		}
		@media (min-width: $md2 + px){
			height: 736px;
			min-width: auto;
		}
		img{
			height: 100%;
		}
	}
	&__inner{
		text-align: center;
		@media (min-width: $md3 + px){
			text-align: left;
		}
		@media (min-width: $md2 + px){
			margin-left: 30px;
			margin-top: 115px;
		}
		@media (min-width: $md1 + px){
			margin-left: 125px;
		}
	}
	&__title{
		@include adaptive(font-size, 26, 16, 3);
		@include adaptive(line-height, 41, 25, 3);
		font-weight: 600;
		@include adaptive(margin-bottom, 40, 30, 3);
		@media (min-width: $md2 + px){
			max-width: 588px;
			width: 100%;
		}
	}
	&__descr{
		@include adaptive(font-size, 18, 12, 3);
		@include adaptive(line-height, 29, 19, 3);
		font-weight: 400;
		margin-bottom: 40px;
		@media (min-width: $md3 + px){
			margin-bottom: 0;
		}
		@media (min-width: $md2 + px){
			max-width: 588px;
			width: 100%;
			margin-bottom: 40px;
		}
	}
	&__images{
		display: none;
		@media (min-width: $md2 + px){
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-left: -40px;
			picture{
				margin-left: 40px;
				margin-bottom: 20px;
			}
		}
	}
}
.tab--mobile{
	@media (min-width: $md2 + px){
		display: none;
	}
}
.tab--desctop{
	display: none;
	@media (min-width: $md2 + px){
		display: block;
	}
}
.tabs{
	display: none;
	@media (min-width: $md2 + px){
		display: block;
		text-align: center;
	}
}
//End advantages

//////////////////////////////////////////////////////////////////////////////

//Start cases